
//kode opdeling kommentar

/*========================================================================
 ==============================Side====================================
=========================================================================*/

/*-------------------------------------------------------------------------
----------------------------------Sektion-----------------------
---------------------------------------------------------------------------*/

/*================Underdel================*/





//her er alle de ting der ikke passer andre steder.
/*========================================================================
 ==============================Generelt====================================
=========================================================================*/
@font-face { //Definere fonten odin, så vi kan bruge den
  font-family: odin;
  font-weight: 100;
  src: url('odin.otf');
}


body {
  margin: 0; // Ingen kanter i siden af browser
  font-family: Arial;
  color: white;
}

h1, h2, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 50px; // Ingen indre margen fra overskrifter
  text-align: center;
  font-family: odin;
  letter-spacing: 5px; //samme som tracking i PS
  text-transform: uppercase; //gør at alle overskrifter er UPPERCASE
  font-weight: 100; //fikser problem med font vægt nogen steder
}

h2 {
  font-size: 34px;
}

h5{
  padding: 0;
}

h6 {
  font-size: 54px;
  font-family: Arial;
  padding: 100px 0;
}

// h3 står for sig selv fordi den skal være arial
h3  {
  font-family: Arial;
  margin: 0;
  text-align: center;
  padding: 30px;
  font-size: 28px; //40 er ikke den endelige størrelse. Skal måske ændres så skrift størrelsen er responsiv?
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde mÂ maks fylde 100%
  height: auto; // H¯jden skal tilpasse sig
}

//Farve variabler
$color-yellow: #f7d888;
$color-blue: #ace9e3;
$color-pink: #ebb3df;
$color-violet: #9195f1;

//12 column grid
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

//dropshadows
.dropshadow {
  box-shadow: -18px 18px 41px -18px rgba(0,0,0,0.28);
}

//overlay med farverne og gennemsigtighed, så tekst er mere synligt ved krymmel
.overlayyellow {
  background-color: rgba(247,216,136,0.8);
}
.overlayblue {
  background-color: rgba(172,233,227,0.8);
}
.overlaypink {
  background-color: rgba(235,179,223,0.8);
}
.overlayviolet {
  background-color: rgba(145,149,241,0.8);
}


/*================knappen================*/

//knappen, som er virkelig dårlig lavet, men den virker
//har givet den en sektion for sig selv

.flex{ //laver flex så knappen kan centreres
  display: flex;
  justify-content: center;
}

.knapTekst{ // gør at teksten er hvis og centreret.
  text-decoration: none;
  color: white;
  justify-content: center;
  margin-top: 10px;
}

.knap { //her defineres knappens størrelse
  position: absolute;
  justify-content: center;
  margin: 30px 0px;
  width: 80px;
  height: 40px;
}

.knapFyld { //knappe fyldet.
  position: absolute; // gør at elementerne kan stackes
  background-color: $color-yellow;
  left: 5px; //forskydes til venstre
  top: 5px; //forskydes ned
  width: 85px; //størrelse
  height: 45px; //størrelse
}

.knapKant {//Denne del af knappen er lidt rodet
  position: absolute;
  justify-content: center;
  border: 5px solid #fdfdfd; //kanten laves, farve + tykkelse
  width: 80px; //størrelse
  height: 40px;
  z-index: 0; //tror faktisk ikke det gør noget
  right: 5px; // kanten placeres i forhold til .knapfyld og skal derfor forskydes tilbage på sin plads
  bottom: 5px; // det samme sker her
  display: flex; // ved ikke hvorfor der er flex her
}

/*================knap igen===============*/
//Ved ikke lige hvorfor det kommer to gange, men det virker kun hvis det gør. Dette skal fixes




/*-------------------------------------------------------------------------
----------------------------------Header & footer-----------------------
---------------------------------------------------------------------------*/

/*================HEADER===============*/

.header { //farve og længde på header sektionen
  height: 400px; // Højden på headeren. Hvis denne ændres skal .logo { top } også ændres
  background-image: none; // her skal der være et billede
  background-size: cover; //fylder headeren ud
}
.header.forside{
  background-color: $color-yellow;
}

.logo { // placeholder for logoet
  height: 300px;
  width: 300px;
  position: relative;
  top: 62%;
  margin: auto

}


/*================KONTAKT FORM===============*/

//Styling af input fælter
input {
  margin: 20px 0px; // Giver lidt plads mellem felter
  grid-column: 3/11; // placere input felterne i miden
  border: none; // fjerner kant
  background-color: $color-yellow;
  color: white;
  font-size: 16px;
  height: 30px;
  box-shadow: -16px 21px 34px 0px rgba(0, 0, 0, 0.1); //giver input felter lidt dropshadow
}

//gør besked feltet større
input:nth-last-child(1) {
  height: 100px;
}


/*================footer===============*/

//giver lidt plads til send knappen
.sendknap {
  margin-top: 75px;
}

.footer.forside{
  background-color: $color-pink;
}

.footer.underside{
  background-color: $color-blue;
}

//Dette er alt kontakt info font styling
.bund {
  text-align: center;
  margin-top: 120px;
  font-family: odin;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: 100;
}

//Sociale medie ikoner
.some {
  padding: 50px 0;
}

// gør ordert "eller" mindre og giver det lidt plads
.eller {
  padding: 100px 0px;
  font-size: 14px;
}

/*========================================================================
 ==============================FORSIDE====================================
=========================================================================*/

//alt styling der kun er på forsiden

/*================kollektiv===============*/

.kollektiv h1 { //placering af header
  grid-column: 1/13; // den placeres mellem linje 1 og 13
}

.kollektiv {
  background-color: $color-blue;
  padding-top: 250px; //giver lidt plads til billedet... eller er det header? i dont know
}

.kollektiv img {
  grid-column: 3 / 11; //placering af billedet
  margin: auto; // centrer billedet
}

.kollektiv p { //placering af tekst
  grid-column: 3 / 11;
  padding: 100px 0;
  text-align: center;
}


/*-------------------------------------------------------------------------
----------------------------------showcase-----------------------
---------------------------------------------------------------------------*/

//Gør at billeder i showcase er fikantet(på mobil)
.firkant {
  height: 100vw; //sætter højden = med breden på skærmen. Dette gør at de er fikantet
  background-size: cover; //placering af billederne
  background-position: center center; //placering af billederne
}

//produkt billede skal være relativ, så vi kan placere .navnOverlay
.produktbillede {
  position: relative;
}

//Navn overlay placeres ved brug af absolute position og top/left
.navnOverlay {
  position: absolute;
  top: 60%;
  left: 10%; //måske skal det bare centreres
}

//Placering af overskrift
.indhold h2 {
  grid-row: 1;
  grid-column: 1/13;
}

//placering af body
.indhold p {
  grid-row: 2;
  grid-column: 2/12;
}

/*====showcases knap===*/
//Dette skal ikke ændres!!!!

.showcaseKnap {
  grid-row: 3;
  grid-column: 1/13;
  margin-top: 40px;
  margin-bottom: 130px;
}

.knapFyld.showcase {

  width: 100px; //størrelse
  height: 40px;
  left: 0px; //forskydes til venstre
  top: 0px; //forskydes ned
}

.knapKant.showcase {//Denne del af knappen er lidt rodet
  width: 100px; //størrelse
  height: 40px;
}

/*-------------------------------------------------------------------------
----------------------------------Tobias showcase------------------------
---------------------------------------------------------------------------*/
//Alt hvad der er anderledes i tobiases showcase

//farve og krymmel bag indhold
.indhold.tobias {
  background-color: $color-yellow;
  grid-column: 1/13;
  background-image: url("../images/tobiaskrymmel.png");
}

//billede af tobias ansigt
.ansigt.tobias {
  background-image: url("../images/tobais.png");
}

//billede af tobias produktbillede
.produktbillede.tobias {
  background-image: url("../images/arbejdetobiasforside.png");
}

//Farven på knappen
.knapFyld.showcase.tobias {
  background-color: $color-blue;
}

/*-------------------------------------------------------------------------
----------------------------------Amalie showcase-----------------------
---------------------------------------------------------------------------*/
//Alt hvad der er anderledes i amalies showcase

//farve og krymmel bag indhold
.indhold.amalie {
  background-color: $color-violet;
  grid-column: 1/13;
  background-image: url("../images/tobiaskrymmel.png");
}

//billede af amalie ansigt
.ansigt.amalie {
  background-image: url("../images/amalieforside.png");
}

//billede af amalie produktbillede
.produktbillede.amalie {
  background-image: url("../images/arbejdeamalieforside.png");
}

//Farven på knappen
.knapFyld.showcase.amalie {
  background-color: $color-blue;
}

/*-------------------------------------------------------------------------
----------------------------------Frederik Showcase-----------------------
---------------------------------------------------------------------------*/
//Alt hvad der er anderledes i Frederiks showcase

//farve og krymmel bag indhold
.indhold.frederik {
  background-color: $color-pink;
  grid-column: 1/13;
  background-image: url("../images/tobiaskrymmel.png");
}

//billede af tobias ansigt
.ansigt.frederik {
  background-image: url("../images/frederikforside.png");
}

//billede af tobias produktbillede
.produktbillede.frederik {
  background-image: url("../images/arbejdefrederikforside.png");
}

//Farven på knappen
.knapFyld.showcase.frederik {
  background-color: $color-blue;
}


/*================KONTRAST==============*/

.kontrastBG {
  background-color: $color-pink;
}

.kontrast {
   //højden på sektionen, skal slettes nå der kommer indhold
  background-color: $color-blue;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); // giver den skrå kant
}

.kontrastTekst {
  margin: 0 5%;
  padding: 100px 0 250px;

}

.kontrast1 {
  font-family: Arial;
  font-size: 10vw;
  font-weight: 900;
}

.kontrast2 {
  font-family: Arial;
  font-size: 8vw;
  font-weight: 100;
  font-style: italic;
}

.kontrast3 {
  font-family: Arial;
  font-size: 100%;
}
/*========================================================================
 ==============================Personlige sider===========================
=========================================================================*/

//Her står alt som de personlige sider har tilfælles


.hvemerjeg{
  grid-column: 1/13;
  margin-top: 200px;
}

.hvadlaverjeg, .mitarbejde{
  grid-column: 1/13;
}
.tobiastekst, .tobiastekst2{
 grid-column: 2/12;
  margin: 50px 0;

}

.tobiastekst2{
 margin-bottom: 100px;
}

.tobiasansigt, .tobiasansigt2{
  grid-column: 4/10;
}

.arbejde1, .arbejde2, .arbejde3{
  grid-column: 3/11;
  position: relative; //så billedet er nederst
  margin-bottom: 30%;
}

.overlay1, .overlay2, .overlay3{
  position: absolute; //så overlayet kan komme ovenpå
  top: 85%;
  left: 0%; //måske skal det bare centreres
  padding: 7%; //så teksten ikke står helt ud til kanten

}

.zeroPadding{
  padding: 0 0 30px 0;
}
/*-------------------------------------------------------------------------
----------------------------------TOBIAS------------------------
---------------------------------------------------------------------------*/

//Her står alt som kun er på tobiases side

.baggrundtobias{
  background-color: $color-blue;
}

.baggrund2tobias{
  background-color: $color-yellow;
  background-image: url("../images/tobiaskrymmel.png");
}

/*-------------------------------------------------------------------------
----------------------------------Amalie------------------------
---------------------------------------------------------------------------*/

//Her står alt som kun er på Amalies side

.header.amalieheader{
  background-color: $color-violet;
}

.baggrund2amalie{
  background-color: $color-violet;
  background-image: url("../images/tobiaskrymmel.png");
}

/*-------------------------------------------------------------------------
----------------------------------Frederik------------------------
---------------------------------------------------------------------------*/

//Her står alt som kun er på Frederiks side

.header.frederikheader{
  background-color: $color-pink;
}

.baggrund2frederik{
  background-color: $color-pink;
  background-image: url("../images/tobiaskrymmel.png");
}


/*================Responsivitet===============*/



@media screen and (min-width: 600px) {
  // Alt over 600. Tablet og Desktop

  /*================Forside===============*/

  /*================Showcase===============*/

  //Mangler kommentar. Værdier skal tweakes så de det passer bedre
  .showcaseFlexamalie{ //gør at Amalies showcase på forsiden står omvnedt (billeder i højre side)
    display: flex;
    flex-direction: row-reverse;
  }

  .showcaseFlex{
    display:flex;
  }

  .showcaseBilleder {
    width: 50%;
    max-height: 600px;
    max-width: 700px;
  }

  .firkant {
    height: 50vw;
    max-height: 300px;
  }

  .indhold {
    min-width: 50%;
  }

  h3 {
    font-size: 13px;
    padding: 30px 20px 30px 20px;
  }

  /*================Personlige sider===============*/
  //Tobias

  .arbejde1 {
    grid-column: 2/8;

  }

  .arbejde2 {
    grid-column: 6/12;

  }

  .arbejde3 {
    grid-column: 2/8;
  }

  .overlay1 {
      left: 70%;
      top: 20%;
      width: 40vw;
      max-width: 450px;
    }

  .overlay2 {
    left: -70% ;
    top: 20%;
    width: 40vw;
    max-width: 450px;
  }

  .overlay3 {
    left: 70%;
    top: 20%;
    width: 40vw;
  }

  .rightPic {
    margin: 0 0 0 auto;
  }

  .hvemerjeg, .tobiasansigt, .tobiastekst {
    grid-row: 1/1;
  }

  .tobiasansigt {
    grid-column: 2/6;
  }
  .tobiastekst{
    margin: 0;
    margin-top: 100px;
    padding: 0px 0px 50px 50px;
  }

  .hvemerjeg, .tobiastekst {
    grid-column: 6/12;
  }
  .hvemerjeg {
    margin: 0;
    padding: 0px 0px 50px 50px;
  }

  .space {
    grid-row: 2/2;
    margin: 50px;
  }

  .hvadlaverjeg, .tobiasansigt2, .tobiastekst2 {
    grid-row: 3/3;
  }

  .tobiasansigt2 {
    grid-column: 8/12;
  }
  .tobiastekst2{
    margin: 0;
    margin-top: 100px;
    padding: 0px 50px 50px 0;
  }

  .hvadlaverjeg, .tobiastekst2 {
    grid-column: 2/8;
  }
  .hvadlaverjeg {
    margin: 0;
    padding: 0px 50px 50px 0;
  }

  .baggrundtobias {
    padding: 300px 0px 100px 0px;
  }




}

@media screen and (min-width: 835px) {
  //Alt over 835. For tekstens (navneboks h3) skyld.
  h3 {
    font-size: 18px;
    padding: 30px;
  }

  .overlay1 {
    left: 350px;
  }
  .overlay2 {
    left: -350px;
  }
  .overlay3 {
    left: 350px;
  }
}

@media screen and (min-width: 1186px) {
  //Alt over 1186. For tekstens (navneboks h3) skyld.
  h3 {
    font-size: 28px;
  }

  .overlay2 {
    left: -200px;
  }
}

@media screen and (min-width: 1500px) {
  // Meget store desktop skærme

  /*================Forside===============*/

  /*================Showcase===============*/

  .showcaseBilleder {
    width: 50%;
    max-height: 800px;
    max-width: 700px;
  }

  .firkant {
    height: 50vw;
    max-height: 400px;
  }

  /*================Personlige sider===============*/

  .overlay2 {
    left: -100px;
  }
}










/*================BURGER MENU===============*/
// den ligger i bunden fordi den fylder meget, og ikke skal ændres på :)

.hamburger{
  z-index: 2;
  position: fixed;
  top: 20px;
  right: 45px;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(247, 216, 136, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 22px;
  color: #f6f7fd;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
  font-family: odin;
  letter-spacing: 5px;
  font-weight: 100;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;

}

  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }


