/*=====GENERELT=====*/

@font-face { font-family: "Odin Rounded"; src: url("."); }
body {
  margin: 0; // Ingen kanter i siden af browser
  font-family: Arial;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
  text-align: center;
}
p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde mÂ maks fylde 100%
  height: auto; // H¯jden skal tilpasse sig
}

//Farve variabler
$color-yellow: #f7d888;
$color-blue: #ace9e3;
$color-pink: #ebb3df;

//12 column grid
.grid {
  grid-template-columns: repeat(12, 1fr);
}

/*=====HEADER====*/
.header {
  background-color: $color-yellow;
  height: 400px;
}

.logo {
  grid-column-start: 3;
  height: 300px;
  width: 300px;
  border: solid white 6px;
  position: relative;
  top: 62%;
  margin: auto

}

/*=====kollektiv====*/

.kollektiv {
  background-color: $color-blue;
  height: 500px;
  padding-top: 250px;
}



/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*=====FOOTER=====*/



@media screen and (min-width: 768px) {
  // Alt der Êndres i tablet stÂende fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der Êndres i tablet liggende fra mobil og tablet stÂende
}

@media screen and (min-width: 1200px) {
  // Alt der Êndres i computer fra mobil, tablet stÂende og tablet liggende
}

@media print {
  // Alt der gÊlder for print specifikt
}















/*=====BURGER MENU=====*/

.hamburger{
  z-index: 2;
  position: fixed;
  top: 20px;
  right: 45px;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(247, 216, 136, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 22px;
  color: #f6f7fd;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
